/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --------------- 
  General Colors:

#87509c (135,80,156) - purple;
#17c2a4 (23,194,164) - green
#e7f1f8 (231,241,248) - grey 
#ffffff (255,255,255) - white
#ffdd99 (255,221,153) - peach
#d74680 (215,70,128) - pink
#3c5499 (60,84,153) - blue

 --------------- */

/* --------------- 
        Main
 --------------- */

* {
    outline: 0 !important;
}

html,
body {
    font-size: 12px;
    font-family: 'Titillium Web', sans-serif;
}

section,
header,
footer {
    padding-left: 14.6%;
    padding-right: 14.6%;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

h1 {
    color: #f7f3ea;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    padding: 9% 12%;
}

h2 {
    color: rgb(255, 255, 255);
    letter-spacing: 0.33rem;
    margin-bottom: 21px;
    font-size: 3.33rem;
    font-weight: 700;
    text-transform: uppercase;
}

h4 {
    color: rgb(255, 255, 255);
    line-height: 1.5rem;
    letter-spacing: 0.04rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

h6 {
    color: #393939;
    font-size: 1.5rem;
    letter-spacing: 0.027rem;
    text-transform: uppercase;
}

h5 {
    color: #30bae7;
    font-size: 1.33rem;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 26px;
}

p,
a {
    letter-spacing: 0.03rem;
    line-height: 2rem;
    font-size: 1.5rem;
}


section > p {
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2.166rem;
    margin-bottom: 70px;
}


a {
    line-height: 1.625rem;
    text-decoration: none;
}

.btn {
    background-color: #eb7d4b;
    padding: 18px 71px;
}

.btn:hover{
    background-color: rgba(235,125, 75, .6);
}

.header_line__bottom {
    background-color: rgba(0, 0, 0, .15);
    width: 87px;
    height: 4px;
    margin-bottom: 23px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(255, 255, 255);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(255, 255, 255);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(255, 255, 255);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgb(255, 255, 255);
}

.main a,
.services a,
.contact a,
.portfolio a {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.185rem;
    height: 14px;
    text-transform: uppercase;
}

/* --------------- 
       header
 --------------- */

header {
    background-color: rgb(135, 80, 156);
    display: flex;
    padding-top: 57px;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header_logo {
    background: url(../images/logo.png) no-repeat;
    width: 118px;
    height: 37px;
}

.header_nav ul li {
    display: inline-block;
    font-size: 1.33rem;
    line-height: 1.5rem;
    padding-right: 40px
}

.header_nav li a {
    color: #ffffff;
}

.header_nav li a:hover {
    color: rgba(255, 255, 255, .8);
}

.header_nav li a.active {
    background-color: #643a79;
    padding: 5px 14px;
    text-align: center;
}

.f-nav {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 100%;
    justify-content: space-between;
    z-index: 9999;
}

.h-nav{
    padding-top: 10px;
    z-index: 9999;
}
/* --------------- 
        main
 --------------- */

.main {
    background-color: rgb(135, 80, 156);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

/* --------------- 
    services
 --------------- */

.services {
    background-color: #17c2a4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.services > p {
    padding: 0 30%;
}

.services_items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.services_item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.services_img {
    margin-bottom: 60px;
}

.services_header {
    margin-bottom: 27px;
}

.services_paragraph {
    padding: 0 10%;
    text-align: center;
}

.services_item p {
    color: rgb(255, 255, 255);
    letter-spacing: 0.026rem;
    font-size: 1.33rem;
    font-weight: 300;
    font-style: normal
}

/* --------------- 
    team
 --------------- */

.team {
    background-color: rgb(231, 241, 248);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.team h2,
.team p {
    color: #3c4761;
}

.team > p {
    font-size: 1.583rem;
}

.team > .header_line__bottom {
    background-color: rgba(189, 209, 223, .75);
}

.team_members {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.team_item {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 22%;
    justify-content: center;
}

.team_img {
    background-color: #878787;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.team h4 {
    color: #27283d;
    text-align: center;
    margin: 40px 0 15px 0;
}

.team_paragraph {
    margin-bottom: 30px;
}

.team p {
    text-align: center;
}

.team_socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.team_socials__item {
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #bdd1df;
    display: flex;
    padding: 7px 12px;
    justify-content: center;
    flex-basis: 22%;
    min-width: 32px;
    min-height: 32px;
    max-height: 32px;
    max-width: 32px;
    margin-right: 10px;
}

.team_socials__item_last {
    margin-right: 0;
}

.team_socials__item i {
    color: rgb(255, 255, 255);
    font-size: 1.166rem;
}

/* --------------- 
    skills
 --------------- */

.skills {
    display: flex;
    flex-flow: column nowrap;
}

.skills h2,
.skills .header_line__bottom {
    margin: 0 auto;
    margin-bottom: 22px;
}

.skills h2,
.skills p,
.skills h4 {
    color: #3c4761;
}

.skills p {
    text-align: center;
    padding: 0 30%;
}

.skills_items {
    display: flex;
    flex-flow: row nowrap;
}

.skill_item {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 25%;
}

.skill_item .c100 {
    margin-bottom: 30px;
}

/* --------------- 
    portfolio
 --------------- */

.portfolio {
    align-items: center;
    background-color: rgb(255, 221, 153);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.portfolio > .header_line__bottom {
    background-color: #e5c37f;
}

.portfolio h2,
.portfolio p {
    color: #3c4761;
}

.portfolio > p {
    padding: 0 30%;
}

.portfolio > .btn {
    background-color: #17c2a4;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

/* .portfolio-galery */

.services_gallery {
    display: flex;
    padding: 0 19.4%;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}

#filterOptions {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;
    justify-content: center;
}

#ourHolder {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#filterOptions li {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 5px;
    display: block;
    margin-right: 50px;
    text-align: center;
    padding: 12px 22px;
}

#filterOptions li.active {
    background-color: rgba(255, 255, 255);
}

#filterOptions li a {
    color: #393939;
    text-transform: uppercase;
}

#filterOptions li a:hover {
    color: #000;
}

li.item_last {
    margin-right: 0 !important;
}

#ourHolder img {
    margin-bottom: 30px;
}

#ourHolder .item {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    flex-basis: 23.5%;
    text-align: center;
    margin-bottom: 60px;
}

#ourHolder h3 {
    color: rgba(0, 0, 0, 0.6);
}

/* --------------- 
    testimonials
 --------------- */

.testimonials {
    align-items: center;
    background-color: rgb(215, 70, 128);
    display: flex;
    flex-flow: column nowrap;
}

.testimonials_quotes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.testimonial_item {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 50%;
}

.testimonial_item__first {
    margin-bottom: 140px;
}

.testimonial_img {
    background-color: #787878;
    border-radius: 50%;
    margin-right: 48px;
    min-height: 96px;
    max-height: 96px;
    min-width: 96px;
    max-width: 96px;
}

.testimonial_text {
    color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 60%;
}

.testimonial_text > p {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 300;
    line-height: 2.2rem;
    letter-spacing: 0.029rem;
    margin-bottom: 2.3rem;
}

.testimonial_text > h4 {
    margin-bottom: 0.66rem;
}

.testimonial_text h5 {
    color: #ffdd99;
    text-align: left;
}

/* --------------- 
    contact
 --------------- */

.contact {
    align-items: center;
    background-color: rgb(60, 84, 153);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.contact_form {
    min-width: 60%;
    max-width: 60%;
    margin-bottom: 59px;
}

.contact_form form {
    display: flex;
    flex-flow: column nowrap;
}

.contact_credentials input[type="text"],
.contact_credentials input[type="email"],
.contact_form textarea {
    background-color: #273a71;
    border: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    padding: 22px 0 20px 25px;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.contact_credentials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 47px;
}

.contact_credentials input[type="text"],
.contact_credentials input[type="email"] {
    flex-basis: 48%;
}

.contact_form textarea {
    min-height: 200px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}

.contact > .btn {
    background-color: #30bae7;
}

/* --------------- 
    mediaQueries
 --------------- */

@media screen and (max-width: 1439px){
    header, section, footer{
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 769px){
    header, section, footer{
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .services_items{
        flex-flow: column nowrap;
    }
    
    .services_item{
        margin-bottom: 2rem;
    }
    
    .skills p, .portfolio p {
        padding: 0 4%;
    }
    
    .team_members{
        flex-flow: column nowrap;
    }
    
    .team_item{
        margin-bottom: 4rem;
    }
    
    .skills_items{
        flex-flow: row wrap;
    }
    
    .skill_item{
        flex-basis: 50%;
        margin-bottom: 2rem;
    }
    
    .testimonial_img{
        margin-right: 28px;
    }
    
    .contact_credentials{
        flex-flow: column nowrap;
    }
    
    .contact_credentials input[type="text"]{
        border-bottom: 1px solid #fff;
    }
}

@media screen and (max-width: 426px){
    header, .f-nav{
        display: none;
    }
    
    section{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    h2{
        text-align: center;
    }
    
    #filterOptions li{
        margin-right: 10px;
    }
    
    #ourHolder img {
        max-width: 80vw;
        max-height: 80vh;
    }
    
    .testimonials_quotes{
        flex-flow: column nowrap;
    }
    
    .testimonial_item{
        margin-bottom: 4rem;
    }
    
    .contact_form{
        min-width: 90%;
    }
}

@media screen and (max-width: 376px){
    .skill_item h4{
        text-align: center;
        line-height: 2rem;
    }
    
    #filterOptions{
        flex-flow: column nowrap;
    }
    
    #filterOptions li {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
    #loadMore{
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 321px){
    .testimonial_item{
        align-items: center;
        text-align: center;
        flex-flow: column nowrap;
        justify-content: center;
    }
    
    .testimonial_img{
        margin-bottom: 1rem;
        margin-right: 0;
    }
    
    .testimonial_item h5{
        text-align: center;
    }
    
    .btn{
        white-space: nowrap;
    }
}